	
<div class="mt-5 container">
	<h1>About</h1>

	<p>
	This app enables you to research current data on stocks by entering a stock ticker symbol in the search field above. 
	</p>

	<br>

	<h3>How to use</h3>

	<p>
	In order to obtain data on Google's stock or Apple's stock, for instance, you would need to enter "GOOG" or "AAPL", respectively, into the search bar (minus the quotes). You can search for the ticker symbol of the stock you wish to get information about <a href="https://www.marketwatch.com/tools/quotes/lookup.asp" target="_blank">here</a>, or use this handy abridged list <a href="https://gretlcycu.files.wordpress.com/2013/08/quick-ticker-symbol-list.pdf" target="_blank">here</a>.
	</p>
</div>