<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Stock Market Data</title>

<link rel="stylesheet" type="text/css" href="investingsite.css">

<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather|Montserrat:400,700|Raleway" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg mx-auto">
			<div id="content">

				<h1>Invest in yourself</h1>
				<h4>Maximize your potential by maximizing your net worth</h4>
				<br><br>
				<a href="about.html"><button type="button" class="btn btn-danger">&emsp; Get Started &emsp;</button></a>

			</div>
		</div>
	</div>
</div>






</body>
</html>