body, html {
  margin: 0;
	padding: 0;
	height: 100%;
  background-color: #292b2c;
  overflow-x: hidden;
}
  
/*the bg-opacity property adds black opacity to background image*/
.bg-opacity{
  position: relative;
  height: calc(100vh - 56px - 34px)
}

.bg-opacity::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background: url("img/background.png") no-repeat center center;
  background-size: cover;
}

.jumbo-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#content {  
  text-align: center;
	height: 100%;
}

h1 {
	margin: 20vh 0 2vh;
  font-weight: 700;
	font-size: 4.25em;
	color: #D7CDC1;
	font-family: 'Merriweather';
	text-shadow: 1px 2px 2px rgba(0,0,0,0.45), 0px 8px 13px rgba(0,0,0,0.3), 0px 18px 23px rgba(0,0,0,0.25);
}

h4 {
	color: #e29581;
	font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5), 0px 3px 5px rgba(0,0,0,0.3), 0px 5px 8px rgba(0,0,0,0.2);
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
	color: #D7CDC1; 
	padding-right: 20px;
  font-family: 'Raleway';
}


.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus,  /*Changes color of navbar-brand*/
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus /*Changes color of all the navbar links*/ {
  text-decoration: none;
  background-color: transparent !important;
  color: #e29581;
}

.navbar-toggler:focus, button .navbar-toggler:focus {
  outline-color: rgb(207,118,111);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(215, 205, 193, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border: 1px solid rgb(215, 205, 193) !important;
}

.navbar-toggler:hover {
  border: 1px solid rgb(207,118,111) !important;
}

/* Reservation button */
.btn-danger {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 600;  
  color: rgba(217, 83, 78, 0.75);
  letter-spacing: 1px;
  line-height: 25px;
  border: 2px solid #D7CDC1;
  border-radius: 40px;
  background: #D7CDC1;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn.btn-danger:active:hover {
  color: #FFF;
  background: rgba(226, 149, 129, 1.0);
  border: 2px solid rgba(226, 149, 129, 0.75);
}

form input, form button {
  background-color: #e4dace !important;
  color: #353839 !important;
  font-family: 'Raleway';
}

input:focus, button:focus {
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 167, 153, 0.5) !important;
}

  ::placeholder {
    color: #d87258 !important;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #d87258 !important;
  }

  ::-ms-input-placeholder { 
    color: #d87258 !important;
  }

  ::selection {
    color: #ebe6e0;
    background: #e7a696;
  }

p {
  font-family: 'Merriweather';
}

footer {
  text-align: center;
  color: #e29581;
  padding: 5px;
  background-color: #292b2c;
  font-family: 'Raleway';
}

/*========== Media Queries ===========*/

@media (max-width: 992px) {

  form.form-inline.my-lg-0 {
    padding: 0 0 0.5rem 0;
  }

}

@media only screen and (max-width: 600px) {

  h1 {
    margin: 1em 0 0;
    font-size: calc(4em + 6 * ((100vw - 320px) / 680));
  }

  nav {
    padding: 0 0 0.75rem 0;
  }

  input {
    margin: 0 0 0.75rem 0;
  }

  .bg-opacity::before {
    background-size: 300%;
  }

}